.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* transition effect */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 450px;
	transition: opacity 1s ease-in-out;
}

/* styles for images */
.first-image {
	background-image: url('../images/pb_cover.png');
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('../images/fin_cover.jpg');
	z-index: -2;
	opacity: 0;
}

/* opacity set will show image, originally set to 0 as above */
.first-image.show,
.second-image.show{
	opacity: 1;
}
