
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* transition effect */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 450px;
	transition: opacity 1s ease-in-out;
}

/* Styles for images */
.first-image {
	background-image: url('../images/masthead_01.jpg');
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('../images/masthead_02.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('../images/masthead_03.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show,
.second-image.show,
.third-image.show {
	opacity: 1;
}

.ui-helper-hidden-accessible {
  display:none;
}

ul {
  float:left;
  width:inherit;
  margin:2em 0;
  padding:0;
  position:relative;
}

li {
  float:left;
  clear:left;
  width:100%;
  margin:0;
  padding:0.5em 0.8em;
  list-style:none;
  background-color:white;
  border-right:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  border-left:1px solid #cacaca;
  cursor:pointer;
  color:#333;
  position:relative;
  z-index:2;
}

li:hover {
  background-color:#f5f5f5;
}

.pink {
  color: #F24E53; }
.pink-bg {
  background-color: #F24E53; }

.sky {
  color: #82C2D1; }
.sky-bg {
  background-color: #82C2D1; }

.yellow {
  color: #FC9A00; }
.yellow-bg {
  background-color: #FC9A00;
}

.green {
  color: #739C1B; }
.green-bg {
  background-color: #739C1B;
}

.blue {
  color: #274A85; }
.blue-bg {
  background-color: #274A85;
}

.name-container {
	border-top: 1px solid #cccccc;
	margin: 15px -20px;
	padding: 18px 0;
}

.activeOption {
  background-color: white!important;
}

.image {
  max-width: 95%;
  max-height: 350px;
}

.text-container {
  margin-top: 15px;
}

.results-container {
  background-color: #f5f5f5;
  padding: 20px;
  border: 8px solid white;
  border-radius: 25px;
  background-color:#f5f5f5;
 }
